<h1>Create Team</h1>

<form action="/users/create" method="post" class="team-form">
    <label>Pokemon 1:</label>
    <select name="pokemon1" required>
        <option value="" disabled selected>Select Pokémon</option>
        {{#each pokemon}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>

    <label>Pokemon 2:</label>
    <select name="pokemon2" required>
        <option value="" disabled selected>Select Pokémon</option>
        {{#each pokemon}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>

    <label>Pokemon 3:</label>
    <select name="pokemon3" required>
        <option value="" disabled selected>Select Pokémon</option>
        {{#each pokemon}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>
    <label for="">Team Name:</label>
    <input type="text" name="teamName" required>
    <button type="submit">Create</button>
</form>

     {{!-- <div class="dropdown" name="pokemon1">
      <button class="dropbtn">
         Select Pokémon
      </button>
      <div class="dropText">
        {{#each pokemon}}
            <a href="#"><img src="{{image}}" width="80" height="80">{{name}}</a>
        {{/each}}
      </div>
   </div>
   <div class="dropdown" name="pokemon2">
      <button class="dropbtn">
         Select Pokémon
      </button>
      <div class="dropText">
        {{#each pokemon}}
            <a href="#"><img src="{{image}}" width="80" height="80">{{name}}</a>
        {{/each}}
      </div>
   </div>
   <div class="dropdown" name="pokemon3">
      <button class="dropbtn">
         Select Pokémon
      </button>
      <div class="dropText">
        {{#each pokemon}}
            <a href="#"><img src="{{image}}" width="80" height="80">{{name}}</a>
        {{/each}}
      </div>
   </div>
    <button type="submit">Create</button> --}}