<h1>Update Team</h1>
<form action="/users/update" method="post">
    <label>Pokemon 1:</label>
    <select name="pokemon1" required>
        <option value="" disabled selected>Select Pokémon</option>
        {{#each pokemon}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>

    <label>Pokemon 2:</label>
    <select name="pokemon2" required>
        <option value="" disabled selected>Select Pokémon</option>
        {{#each pokemon}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>

    <label>Pokemon 3:</label>
    <select name="pokemon3" required>
        <option value="" disabled selected>Select Pokémon</option>
        {{#each pokemon}}
        <option value={{_id}}>{{name}}</option>
        {{/each}}
    </select>
    <label for="">Team Name:</label>
    <input type="text" name="teamName"  value="{{teamName}}" required>
    <button type="submit">Create</button>
</form>